<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-tag-multiple"></i>
                </span> Quản Lý Loại Sản Phẩm
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i
                            class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm loại sản phẩm</h4>
                        <!-- <p class="card-description"> Basic form elements </p> -->
                        <form class="forms-sample" method="POST">
                            <div class="form-group">
                                <label for="exampleInputName1">Tên loại</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên loại">
                            </div>
                            <button class="btn btn-gradient-primary me-2" id="" value="add_cate" name="add_cate">Xác nhận</button>
                            <a href="/admin/categories/" class="btn btn-light">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Kuronami - Manga</span>
        </div>
    </footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->