<div class="search-form" style="margin-top: 100px;">
    <form method="POST" action="" >
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>